{% extends 'base.html' %}

{% block meta %}
<title>Upload Task</title>
{% endblock meta %}

{% load filters %}

{% block content %}  

<div class="flex flex-col h-screen justify-center bg-gradient-to-r from-indigo-700 via-purple-900 to-blue-900 backdrop-blur-xl bg-white/30">
    <div class="flex justify-center">
        <div class="flex flex-col gap-2">
            <div class="font-extrabold text-center bg-clip-text text-transparent bg-gradient-to-r from-[#FDD023] to-[#E9B200] text-5xl">
                ADD TASK
            </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                    <div class="flex gap-10">
                        <div class="flex flex-col justify-around gap-2 w-full">
                            <div class="flex flex-col text-sm font-medium block justify-around text-gray-200">
                                <p>Title:</p>
                                {{ form.title |addClass:"rounded-lg w-full text-black"}}
                            </div>
                            <div class="flex flex-col text-sm font-medium block mb-2 justify-around text-gray-200">
                                <p>Description:</p>
                                {{ form.description |addClass:"rounded-lg w-full text-black"}}
                            </div>
                            <div class="flex justify-center">
                                <input type="submit" name="submit" value="Tambah" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/> 
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}