{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% load filters %}

{% block content %}  

<div class="flex flex-col h-screen justify-center bg-gradient-to-r from-indigo-700 via-purple-900 to-blue-900 backdrop-blur-xl bg-white/30">
	<div class="flex justify-center">
	  <div class = "login text-sm text-gray-200 bg-white shadow-md border border-gray-200 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">	  
		  <h1 class="text-xl font-semibold text-center">REGISTER</h1>
		  <div class="mb-2"></div>
	  
			  <form method="POST" >
				  {% csrf_token %}
				  <div class="flex flex-col gap-2">
					<div class="flex gap-20">
					  <div class="flex flex-col justify-around gap-2 w-full">
						<div class="flex flex-col text-sm font-medium block mb-2 justify-around text-gray-200">
							<p>Username:</p>
							<div class = "text-black">
								{{ form.username |addClass:"rounded-lg w-full"}}
							</div>
						</div>
						<div class="flex flex-col text-sm font-medium block mb-2 justify-around">
							<p>Password:</p>
							<div class = "text-black">
								{{ form.password1 |addClass:"rounded-lg w-full"}}
							</div>
						</div>
						<div class = "flex flex-col text-sm font-medium block mb-2 justify-around">
							<p>Confirm Password:</p>
							<div class = "text-black">
								{{ form.password2 |addClass:"rounded-lg w-full"}}
							</div>
						</div>
					  </div>

					</div>
					<input type="submit" name="submit" value="Daftar" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/> 
					{{ form.username.errors }}
					{{ form.password1.errors }}
					{{ form.password2.errors }}
				  </div>
			  </form>
	  
		  {% if messages %}  
			  <ul>   
				  {% for message in messages %}  
					  <li>{{ message }}</li>  
					  {% endfor %}  
			  </ul>   
		  {% endif %}
		  <div class="mt-4">
			  <p class="text-s">Sudah mempunyai akun? <span><a href="{% url 'todolist:login' %}" class="text-blue-700 hover:underline dark:text-blue-500 mt-4">Login</a><span></p>
		  </div>
	  </div>  
	</div>
  </div>

{% endblock content %}