{% extends 'base.html' %}

{% block meta %}
<title>To Do List</title>
{% endblock meta %}



{% block content %}
{% if user.is_authenticated %}



<div class="mx-25 md:mx-14 lg:mx-14 mt-14">
  <div class="flex justify-center">
    <div class="text-5xl font-extrabold">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#FDD023] to-[#E9B510]">
        TODOLIST
      </span>
    </div>
  </div>
</div>

<span class="mb-2 mt-4 flex justify-center text-white text-xl font-extrabold">
  Welcome, {{ user.get_username }}
</span>


<div class="flex justify-center gap-10 text-white text-extrabold mt-7">
  <button class="bg-gradient-to-r from-blue-600 to-blue-700 hover:from-blue-700 hover:to-blue-800 font-medium focus:ring-4 focus:ring-blue-300 rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-blue-800"><a href="{% url 'todolist:upload' %}">Tambah Task Baru</a></button>
  <button class="bg-gradient-to-r from-red-600 to-red-700 hover:from-red-700 hover:to-red-800 font-medium focus:ring-4 focus:ring-red-300 rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-red-800"><a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>


<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-5 mt-8 sm:mt-5 px-4 py-4 ">
  {% if todolist %} 
  {% for task in todolist %} 
  
    <div class="rounded-3xl pl-10 pr-6 py-5 bg-gradient-to-br from-[#FDD023] to-[#E9B200] text-slate-100 hover:scale-105 transition duration-200 ease-in-out">
     
            <div class="font-extrabold text-2xl text-black">
              {{task.title}}
            </div>
            <div class="mb-10 font-medium text-black">
              {{task.description}}
            </div>
            <div class="mb-2">
              
              {% if task.is_finished %}
                <p class="text-green-500 font-semibold">Status: Finished</p>
              {% else %}
                <p class="text-red-500 font-semibold">Status: Not Finished</p>
              {% endif %}
            </div>
            <div class="flex justify-between">
              <div class="text-black">
                {{task.date}}
              </div>
              <div>
                <button class="bg-gradient-to-r from-green-600 to-green-700 hover:from-green-700 hover:to-green-800 font-medium focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-1 py-1 text-center dark:focus:ring-green-800"><a href="{% url 'todolist:update' task.id%}">Update</a></button>
                <button class="bg-gradient-to-r from-red-600 to-red-700 hover:from-red-700 hover:to-red-800 font-medium focus:ring-4 focus:ring-red-300 rounded-lg text-sm px-1 py-1 text-center dark:focus:ring-red-800"><a href="{% url 'todolist:delete' task.id%}">Delete</a></button>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
  </div>
</div>
{% endif %} {% endif %}  {% endblock content %}